/* General styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.navLinks {
    display: flex;
    gap: 20px;
}

.link {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.link:hover {
    text-decoration: underline;
}

.mainContent {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.sidebar {
    width: 250px;
    background-color: #2A3F54;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

.logoImage {
    height: 50px;
    margin-bottom: 20px;
}

.userDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.profilePic {
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.userInfo {
    text-align: center;
}

.navList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navItem {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 0;
    margin: 5px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.content {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

.header {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.announcementRow {
    display: flex;
    justify-content: space-between;
}

.announcementBox {
    flex: 1;
    background-color: #ffffff;
    padding: 15px;
    margin: 5px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-weight: bold;
    color: black;
    
}

.schedule {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.bulletinBoard {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    text-align: center;
}
