<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Announcements</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <%- include('layout') %>
    <h1>Announcements</h1>
    <ul>
        <% announcements.forEach(announcement => { %>
            <li><a href="/announcements/<%= announcement._id %>"><%= announcement.title %></a></li>
        <% }) %>
    </ul>
    <a href="/announcements/new">Add New Announcement</a>
</body>
</html>
