<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BMU Nest</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <%- include('layout') %>
    <h1>Welcome to BMU Nest</h1>
    <ul>
        <li><a href="/students">Students</a></li>
        <li><a href="/documents">Documents</a></li>
        <li><a href="/alumni">Alumni</a></li>
        <li><a href="/announcements">Announcements</a></li>
        <li><a href="/timetables">Timetables</a></li>
    </ul>
</body>
</html>
